<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Iniciar Sesión</h2>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="username" class="form-label">Usuario</label>
              <input type="text" id="username" formControlName="username" class="form-control">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <input type="password" id="password" formControlName="password" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Iniciar sesión</button>

            <p class="text-danger mt-2">{{ errorMessage }}</p>

            <button type="button" (click)="loadAdminCredentials()">Cargar como Admin</button>
            <button type="button" (click)="loadEmployeeCredentials()">Cargar como Empleado</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>